- type: job
  id: BoSWestGunsmith
  setPreference: true
  name: job-name-bos-west-gunsmith
  description: job-description-bos-west-gunsmith
  playTimeTracker: BoSWestGunsmith
  requirements:
    - !type:CharacterLogicOrRequirement
      requirements:
        - !type:CharacterSpeciesRequirement
          species:
            - Human
    - !type:CharacterOverallTimeRequirement
      min: 3600
  startingGear: BoSWestSquireGear
  alwaysUseSpawner: true
  icon: "JobIconBosMSquire" # Corvax-Change
  supervisors: job-supervisors-bos-mid-initiate
  canBeAntag: false
  access:
  - BoSWest
  special:
  - !type:AddComponentSpecial
    components:
      - type: NpcFactionMember
        factions:
          - BrotherhoodWest

- type: startingGear
  id: BoSWestSquireGear
  equipment:
    jumpsuit: N14ClothingUniformJumpsuitBOSGreen
    back: N14ClothingBackpackMilitary # Corvax-Change
    shoes: N14ClothingBootsCombatFilled
    head: N14ClothingHeadHatArmyCap
    outerClothing: N14ClothingOuterMidwestArmor
    pocket1: NCRBoSMidwestkits
    id: N14IDBrotherhoodHolotagSquire
    belt: ClothingBeltMilitary
  storage: # Corvax-Change
    back:
    - N14BoxPlasticFilledMilitary

- type: playTimeTracker
  id: BoSWestGunsmith
